<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>Voilà les quiestions</p>
    <p>
        {{ message }}
    </p>
    <div style="font-size: 100px;">{{ signe }}</div>

    
    <h2>MyQuizz</h2>
<p>Choose a Quizz</p>

<img src="https://images.app.goo.gl/5RbHVGFgBwDHPqwT9" />
<a href="/">Quizz 1</a>
<BR>
<img src="https://images.app.goo.gl/5RbHVGFgBwDHPqwT9" />
<a href="/">Quizz 2</a>

</body>
</html>
